.video-block {
  margin: 20px 0 40px 0;

  img {
    margin: 0;
  }
}

.video-caption {
  font-size: 12pt;
}

.section {
  padding: 3em 0 3em 0;
}

.youtube-embed {
  aspect-ratio: 16 / 9;
  width: 100%;
}
